{{~ #*inline "page"}}
<div class="container book">
    <nav class="top-nav">
        <a href="{{links.books.url}}">
            <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
        </a>
    </nav>
    <div class="heading">
        <nav class="previous">
            {{~ #if links.previous}}
            <a href="{{links.previous.url}}" title="{{links.previous.label}}">
                <img src="/static/img/arrow-back.svg" alt="Back Arrow" height="28" width="28">
            </a>
            {{~ /if}}
        </nav>
        <h1>{{book.name}}</h1>
        <nav class="next">
            {{~ #if links.next}}
            <a href="{{links.next.url}}" title="{{links.next.label}}">
                <img src="/static/img/arrow-forward.svg" alt="Forward Arrow" height="28" width="28">
            </a>
            {{~ /if}}
        </nav>
    </div>
    <nav>
        <ol>
            {{~ #each chapters as |c|}}
            <li>
                <a href="{{lookup @root.data.links.chapters @index}}">{{c}}</a>
            </li>
            {{~ /each}}
        </ol>
    </nav>
</div>
{{~ /inline}}
{{~> base}}
