{{~ #*inline "page"}}
<div class="container chapter">
    <nav class="top-nav">
        <a href="{{links.books.url}}">
            <img src="/static/img/bible.rs.svg" alt="{{links.books.label}}" height="100" width="100" class="logo">
        </a>
    </nav>
    <article>
        <div class="heading">
            <nav class="previous">
                {{~ #if links.previous}}
                <a href="{{links.previous.url}}" title="{{links.previous.label}}">
                    <img src="/static/img/arrow-back.svg" alt="Back Arrow" height="28" width="28">
                </a>
                {{~ /if}}
            </nav>
            <h1>{{reference_string}}</h1>
            <nav class="next">
                {{~ #if links.next}}
                <a href="{{links.next.url}}" title="{{links.next.label}}">
                    <img src="/static/img/arrow-forward.svg" alt="Forward Arrow" height="28" width="28">
                </a>
                {{~ /if}}
            </nav>
        </div>
        {{~ #each verses as |v|}}
        <p id="v{{v.verse}}">
            <a href="{{@root.data.links.current.url}}#v{{v.verse}}">
                {{~ v.verse ~}}
            </a>
            {{{v.words}}}
        </p>
        {{~ /each}}
    </article>
    <nav class="bottom-nav">
        {{~ #if reference.verses}}
        <a href="{{links.chapter.url}}" title="{{links.chapter.label}}">
            <img src="/static/img/unfold-more.svg" alt="View all of {{links.chapter.label}}" height="28" width="28">
            View Full Chapter&nbsp;
        </a>
        {{~ /if}}
        <a href="{{links.book.url}}" title="{{links.book.label}}">
            <img src="/static/img/book.svg" alt="Go to {{links.book.label}}" height="28" width="28">
            {{links.book.label}}
        </a>
    </nav>
</div>
{{~ /inline}}
{{~> base ~}}
