{{~ #*inline "page"}}
<div class="container book">
    <div class="heading">
        <nav class="previous">
            {{~ #if links.previous}}
            <a href="{{links.previous.url}}" title="{{links.previous.label}}">Previous</a>
            {{~ /if}}
        </nav>
        <h1>{{book.name}}</h1>
        <nav class="next">
            {{~ #if links.next}}
            <a href="{{links.next.url}}" title="{{links.next.label}}">Next</a>
            {{~ /if}}
        </nav>
    </div>
    <nav>
        <ol>
            {{~ #each chapters as |c|}}
            <li>
                <a href="{{lookup @root.data.links.chapters @index}}">{{c}}</a>
            </li>
            {{~ /each}}
        </ol>
    </nav>
    <nav class="bottom-nav">
        <a href="{{links.books.url}}">{{links.books.label}}</a>
    </nav>
</div>
{{~ /inline}}
{{~> base}}
